{
  "plugins": [
    [
      "transform-react-jsx", {
        "pragma": "html"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-react-jsx"
      ],
      "presets": ["stage-3", "babel-preset-react"]
    },
  }
}
