language: node_js
node_js:
- "6"
- "6.1"

language: java
jdk:
  - oraclejdk8

before_install:
- sudo apt-get update && sudo apt-get --reinstall install -qq language-pack-en language-pack-de

install:
- npm install

script:
- npm install java
- webpack --env production
- eslint . --cache
- NODE_ENV=test jest
- nightwatch app/e2e_tests/ --verbose
