language: node_js
node_js:
- "6"
- "6.1"

before_install:
- sudo apt-get update && sudo apt-get --reinstall install -qq language-pack-en language-pack-de

install:
- npm install

script:
- eslint . --cache
- NODE_ENV=test jest
- webpack --env production
