@import '../node_modules/normalize.css/normalize.css';

ul
{
  list-style-type: none;
  padding-left: 0px;
}

.container
{
  font-family: -apple-system, BlinkMacSystemFont, "Noto", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  display: grid;
  grid-template-columns: 16px 1fr 1fr 1fr 1fr 1fr 1fr 16px;
  grid-template-rows: 48px 88px 48px auto;
  grid-column-gap: 8px;
}

.list
{
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 3;
  background-color: transparent;
}

.companyheader
{
  grid-column-start: 1;
  grid-column-end: 9;
  line-height: 48px;
  text-align: center;
  border-bottom: 2px solid #e0e0e0;
  font-size: 12px;
  font-weight: 900;
  background-color: #f5f5f5;
}

.buttonfield
{
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 2;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  overflow: scroll;
}

.button
{
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  margin-top: 16px;
  margin-bottom: 24px;
  color: #fff;
  height: 48px;
  border: 0;
  color: white;
  font-size: 12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  transition: background-color 0.4s ease-in;
  overflow: scroll;
}

.button:active
{
  box-shadow: inset 0 1px 3px rgba(0,0,0,.12);
  outline: 0;
}

.button__red__active
{
  background: #e53935;
}

.button__red__active:hover {
  background: #d32f2f;
}

.button__green__inactive
{
  background: #4caf50;
}

.button__green__inactive:hover {
  background: #388e3c;
}

.progressbar
{
  /* Reset the default appearance */
  -webkit-appearance: none;
  width: 70%;
  height: 4px;
  margin-top: 8px;
}

.emptyimage {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  max-width: 100%;
  max-height: 100%;
}

.emptytext {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  text-align: center;
}

.entry
{
  height: 48px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.entry__active__topbox
{
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 3;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  height: 62px;
}

.entry__inactive__topbox
{
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 3;
  height: 62px;
  background-color: #fff;
  -webkit-animation: fadeIn 2s;
}


.entry__active
{
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 3;
  height: 48px;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: scroll;
}

.entry__active--hidden {
  visibility: hidden;
}

.entry__active--nodisplay {
  display: none;
}

/* Entry sub-components */
.entry__top
{
  display: flex;
  justify-content: flex-start;
}

.entry__bottom
{
  display: flex;
  justify-content: flex-start;
}

/* Text items */
.entry__startDay
{
  color: #000;
  padding-right: 30px;
}

.entry__startDate
{
  color: black;
}

.entry__earnings
{
  margin-left: auto;
  color: #66bb6a;
}

.entry__startTime
{
  color: #37474f;
  padding-right: 30px;
}

.entry__endTime
{
  color: #b71c1c;
}

.entry__duration
{
  margin-left: auto;
  color: blue;
}

.container_loading {
  background-color: #212121;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: loading 0.5s linear;
}

.textbox{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, "BlinkMacSystemFont", "Noto", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
  border: 1px solid #fff;
  width: 160px;
  height: 40px;
}

.loadingspinner{
  border: 3px solid #f44336;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spinner 0.6s linear infinite;
}

.text{
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.container_error {
  background-color: #b71c1c;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.image_error {
  padding: 6px;
}


@-webkit-keyframes fadeIn {
  0% { border-bottom: solid 1px #e0e0e0; }
  100% { border-bottom: #fff; }
  0% { background-color: #f5f5f5; }
  100% { background-color: #fff; }
}

@keyframes spinner {
  0% { transform : rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loading {
  0% {background-color: #fff;}
  100% {background-color: 212121}
}
