<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <noscript>
      <div ClassName="container_browsehappy" style="  background-color: #b71c1c;
        font-family: Courier New, Courier, monospace;
        color: #fff; text-align:center; position: absolute; width: 100%; height: 100%;">
        <img src="../../assets/images/squigley.png" alt="Source missing... " style="margin-bottom: 16px; margin-top: 30vh;"/>
        <p style="margin-bottom: 16px;">
          This page requires JavaScript to work.
        </p>
        <p style="margin-bottom: 16px;">
          Sadly, your device does not support it.
        </p>
        <p style="margin-bottom: 16px;">
          In case you switched it off, please consider turning on JavaScript or use another browser.
        </p>
        <p>
          You can find a selection on <a href="http://browsehappy.com/">browsehappy.com</a>
        </p>
      </div>
    </noscript>
    <div id="app"></div>
  </body>
</html>
